h1{
  color: #4d79ff;
  font-family: sans-serif;
}

h2{
  color: #8080ff;
  font-family: sans-serif;
}

h3{
  color: #666699;
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
}

svg{
  background-color: #f0f0f5;
}
